footer.pam-footer
  nav.pam-footer-nav
    ul.pam-footer-nav__list
      li.pam-footer-nav__item
        a(href='https://www.pcalife.com.tw/zh/disclaimer/' target='_blank') 網站綜合聲明
        span.pam-footer-nav__item-pipe |
      li.pam-footer-nav__item
        a(href='https://www.pcalife.com.tw/zh/financial-friendly/' target='_blank') 金融友善服務專區
        span.pam-footer-nav__item-pipe |  
      li.pam-footer-nav__item()
        a(href='https://www.pcalife.com.tw/zh/law-advocacy/' target='_blank') 法令宣導
        span.pam-footer-nav__item-pipe |  
      li.pam-footer-nav__item()
        a(href='https://www.pcalife.com.tw/zh/outsourcing-notice/' target='_blank') 保險委外作業說明
        span.pam-footer-nav__item-pipe |  
      li.pam-footer-nav__item()
        a(href='https://www.pcalife.com.tw/zh/gdpr-privacy-notice/' target='_blank') GDPR隱私權告知事項
  section.pam-footer-contact()
    ul.pam-footer-contact__list()
      li.pam-footer-contact__item.pb-10()
        | 客戶服務專線：
        span.phone 0809-0809-68
      li.pam-footer-contact__item (專員接聽時間：週一 ~ 週五 08:00~20:00 及週六、日及例假日09:00~17:30)
  section.pam-footer-copywriting 本網站由保誠人壽建置，並由大誠保險經紀人提供顧問諮詢服務。