header
  figure.logo
    img(src="./images/logo.png")
  .box
    p.txt#toSection3 子女教育金準備五大心法
    p.txt#toSection6 子女教育準備必備商品
    //- a.share(href="#") 
      img(src="./images/fb-share.png")
    //- a.share(href="#") 
      img(src="./images/line-share.png")
    iframe(src='https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2Fshare-button%3Flocale%3Dzh_TW&layout=button&size=small&width=60&height=20&appId' width='60' height='20' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share')
    .line-it-button(data-lang='zh_Hant' data-type='share-a' data-env='REAL' data-url='https://www.google.com.tw/' data-color='default' data-size='small' data-count='false' data-ver='3' style='display: none;')
    script(src='https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js' async='async' defer='defer')
