header
  figure.logo
    img(src="./images/logo.png")
  .box
    p.txt#toSection3 五大心法
    p.txt#toSection6 必備商品
    //- a.share(href="#") 
      img(src="./images/fb-share.png")
    //- a.share(href="#") 
      img(src="./images/line-share.png")
    - var a = '@ViewData["FbShare"]'
    iframe(src=a width='60' height='20' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share')
    - var a = '@ViewData["LineShare"]'
    .line-it-button(data-lang='zh_Hant' data-type='share-a' data-env='REAL' data-url=a data-color='default' data-size='small' data-count='false' data-ver='3' style='display: none;')
    script(src='https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js' async='async' defer='defer')
    .ham
      .line
      .line
      .line
  .mobile-menu
    p.txt#mobileToSection3 五大心法
    p.txt#mobileToSection6 必備商品
