header
  figure.logo
    img(src="./images/logo.png")
  .box
    p.txt 子女教育金準備五大心法
    p.txt 子女教育準備必備商品
    figure.share
      img(src="./images/fb-share.png")
    figure.share
      img(src="./images/line-share.png")
