$red01: #cf232e
$red02: #ED1D2E
$red03: #e85549
$red04: #fce4e4
$red05: #fac8c9
$red06: #ef9491

$yellow01: #ffc925
$yellow02: #f4e4a8

$orange01: #e77721

$green01: #45a256
$green02: #2b9f99
$green03: #adddd8
$green04: #5cb8b3
$green05: #10847c
$green06: #03b1b1
$green07: #5cb8b2

$blue01: #6eaee4

$gray01: #666
$gray02: #e8e8e8
$gray03: #ccc
$gray04: #444
$gray05: #3e3a3a
$gray06: #545353
$gray07: #ebebeb
